html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-size: 15px;
    max-height: 100vh;
    font-family: "Poppins";
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head{
    text-align: center;
    max-width: 32rem;
    margin-bottom: 20px;
}

#title-1, p{
    font-weight: 200;
    color: hsl(212, 6%, 44%);
    margin-bottom: 0;
}

#title-2{
    margin-top:auto;
    font-weight: 800;
    color:hsl(234, 12%, 34%);
}

.card{
    max-width: 22rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 15rem;
    border-top: solid 10px;
    margin: 3rem;
    padding-left: 1rem;
    padding-right: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2{
    margin: 0;
}

#red{
    border-color: hsl(0, 78%, 62%);
    order: 0;
}

#blue{
    border-color:hsl(212, 86%, 64%);
    order: 1;
}

#cyan{
    border-color:hsl(180, 62%, 55%);
    order: -1;
}

#orange{
    border-color: hsl(34, 97%, 64%);
    order: 0;
}
.icon{
    align-self: flex-end;
}

.four-card{
    display: flex;
    align-items:center;
}

@media (max-width: 900px){
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .four-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}